.badge {
  background-color: darkcyan;
  font-size: 75%;
  color: black;
  margin-left: 4px;
  margin-bottom: 4px;
  padding: 4px;
  border-radius: 2em;
}

.selected {
  background-color: skyblue;
}
.heroes li {
  padding-top: 4px;
}
.heroes li:hover {
  background-color: skyblue;
}

